In [1]:
import pandas as pd


# Ruta al archivo CSV
archivo_csv = "AccidentesAviones.csv"

# Leer el archivo CSV y almacenar los datos en un DataFrame
df = pd.read_csv(archivo_csv)

print("Columnas del DataFrame:")
print(df.columns)

# Mostrar los primeros datos del DataFrame
print("\nPrimeros datos del DataFrame:")
print(df.head())

Columnas del DataFrame:
Index(['Id', 'Fecha', 'HORA declarada', 'Destino', 'Operador', 'flight_no',
       'route', 'Ac_type', 'registration', 'cn_ln', 'All_aboard',
       'PASAJEROS A BORDO', 'crew_aboard', 'Cantidad de Fallecidos',
       'passenger_fatalities', 'crew_fatalities', 'ground', 'summary',
       'Categoria', 'Subcategoria'],
      dtype='object')

Primeros datos del DataFrame:
   Id      Fecha HORA declarada                             Destino  \
0   0  17-Sep-08           1718                 Fort Myer, Virginia
1   1   7-Sep-09              ?             Juvisy-sur-Orge, France
2   2  12-Jul-12            630           Atlantic City, New Jersey
3   3   6-Aug-13              ?  Victoria, British Columbia, Canada
4   4   9-Sep-13           1830                  Over the North Sea

                 Operador flight_no          route                 Ac_type  \
0    Military - U.S. Army         ?  Demonstration        Wright Flyer III
1                       ?         ?       Air show          Wright Byplane
2    Military - U.S. Navy         ?    Test flight               Dirigible
3                 Private         ?              ?        Curtiss seaplane
4  Military - German Navy         ?              ?  Zeppelin L-1 (airship)

  registration cn_ln All_aboard PASAJEROS A BORDO crew_aboard  \
0            ?     1          2                 1           1
1          SC1     ?          1                 0           1
2            ?     ?          5                 0           5
3            ?     ?          1                 0           1
4            ?     ?         20                 ?           ?

  Cantidad de Fallecidos passenger_fatalities crew_fatalities ground  \
0                      1                    1               0      0
1                      1                    0               0      0
2                      5                    0               5      0
3                      1                    0               1      0
4                     14                    ?               ?      0

                                             summary Categoria  \
0  During a demonstration flight, a U.S. Army fly...     otros
1  Eugene Lefebvre was the first pilot to ever be...     otros
2  First U.S. dirigible Akron exploded just offsh...     otros
3  The first fatal airplane accident in Canada oc...     otros
4  The airship flew into a thunderstorm and encou...     otros

          Subcategoria
0  Subcategoría: Otros
1  Subcategoría: Otros
2  Subcategoría: Otros
3  Subcategoría: Otros
4  Subcategoría: Otros

In [2]:
# Lista de columnas a eliminar
columnas_a_eliminar = [
    "HORA declarada",
    "flight_no",
    "route",
    "registration",
    "cn_ln",
    "PASAJEROS A BORDO",
    "crew_aboard",
    "ground",
    "summary",
    "Categoria",
    "Subcategoria"
]

# Eliminar las columnas especificadas del DataFrame
df = df.drop(columnas_a_eliminar, axis=1)

In [3]:
print(df.head())

   Id      Fecha                             Destino                Operador  \
0   0  17-Sep-08                 Fort Myer, Virginia    Military - U.S. Army
1   1   7-Sep-09             Juvisy-sur-Orge, France                       ?
2   2  12-Jul-12           Atlantic City, New Jersey    Military - U.S. Navy
3   3   6-Aug-13  Victoria, British Columbia, Canada                 Private
4   4   9-Sep-13                  Over the North Sea  Military - German Navy

                  Ac_type All_aboard Cantidad de Fallecidos  \
0        Wright Flyer III          2                      1
1          Wright Byplane          1                      1
2               Dirigible          5                      5
3        Curtiss seaplane          1                      1
4  Zeppelin L-1 (airship)         20                     14

  passenger_fatalities crew_fatalities
0                    1               0
1                    0               0
2                    0               5
3                    0               1
4                    ?               ?

In [4]:
# Seleccionar las columnas especificadas
df = df[['Fecha', 'Destino', 'All_aboard', 'Cantidad de Fallecidos', 'Operador', 'Ac_type', 'passenger_fatalities', 'crew_fatalities']]

# Contar el total de filas en el DataFrame
total_filas = len(df)

# Contar el total de filas que contienen el signo de interrogación (?) en cualquier columna
total_filas_con_interrogacion = len(df[df.apply(lambda row: row.astype(str).str.contains('\?', case=False).any(), axis=1)])

# Mostrar los resultados
print("Total de filas en el DataFrame:", total_filas)
print("Total de filas con el signo de interrogación (?):", total_filas_con_interrogacion)

# Mostrar las primeras 5 filas del DataFrame
print(df.head())

Total de filas en el DataFrame: 5006
Total de filas con el signo de interrogación (?): 256
       Fecha                             Destino All_aboard  \
0  17-Sep-08                 Fort Myer, Virginia          2
1   7-Sep-09             Juvisy-sur-Orge, France          1
2  12-Jul-12           Atlantic City, New Jersey          5
3   6-Aug-13  Victoria, British Columbia, Canada          1
4   9-Sep-13                  Over the North Sea         20

  Cantidad de Fallecidos                Operador                 Ac_type  \
0                      1    Military - U.S. Army        Wright Flyer III
1                      1                       ?          Wright Byplane
2                      5    Military - U.S. Navy               Dirigible
3                      1                 Private        Curtiss seaplane
4                     14  Military - German Navy  Zeppelin L-1 (airship)

  passenger_fatalities crew_fatalities
0                    1               0
1                    0               0
2                    0               5
3                    0               1
4                    ?               ?

In [6]:
# Filtrar las filas que no contienen el signo de interrogación (?)
df = df[~df.apply(lambda row: row.astype(str).str.contains('\?', case=False).any(), axis=1)]

# Mostrar las primeras 5 filas del DataFrame actualizado
print(df.head())

        Fecha                             Destino All_aboard  \
0   17-Sep-08                 Fort Myer, Virginia          2
2   12-Jul-12           Atlantic City, New Jersey          5
3    6-Aug-13  Victoria, British Columbia, Canada          1
6    5-Mar-15                     Tienen, Belgium         41
10   1-Oct-16                Potters Bar, England         19

   Cantidad de Fallecidos                Operador                  Ac_type  \
0                       1    Military - U.S. Army         Wright Flyer III
2                       5    Military - U.S. Navy                Dirigible
3                       1                 Private         Curtiss seaplane
6                      17  Military - German Navy   Zeppelin L-8 (airship)
10                     19  Military - German Navy  Zeppelin L-31 (airship)

   passenger_fatalities crew_fatalities
0                     1               0
2                     0               5
3                     0               1
6                     0              17
10                    0              19

In [7]:
# Seleccionar las columnas especificadas
df = df[['Fecha', 'Destino', 'All_aboard', 'Cantidad de Fallecidos', 'Operador', 'Ac_type', 'passenger_fatalities', 'crew_fatalities']]

# Contar el total de filas en el DataFrame
total_filas = len(df)

# Contar el total de filas que contienen el signo de interrogación (?) en cualquier columna
total_filas_con_interrogacion = len(df[df.apply(lambda row: row.astype(str).str.contains('\?', case=False).any(), axis=1)])

# Mostrar los resultados
print("Total de filas en el DataFrame:", total_filas)
print("Total de filas con el signo de interrogación (?):", total_filas_con_interrogacion)

# Mostrar las primeras 5 filas del DataFrame
print(df.head())

Total de filas en el DataFrame: 4750
Total de filas con el signo de interrogación (?): 0
        Fecha                             Destino All_aboard  \
0   17-Sep-08                 Fort Myer, Virginia          2
2   12-Jul-12           Atlantic City, New Jersey          5
3    6-Aug-13  Victoria, British Columbia, Canada          1
6    5-Mar-15                     Tienen, Belgium         41
10   1-Oct-16                Potters Bar, England         19

   Cantidad de Fallecidos                Operador                  Ac_type  \
0                       1    Military - U.S. Army         Wright Flyer III
2                       5    Military - U.S. Navy                Dirigible
3                       1                 Private         Curtiss seaplane
6                      17  Military - German Navy   Zeppelin L-8 (airship)
10                     19  Military - German Navy  Zeppelin L-31 (airship)

   passenger_fatalities crew_fatalities
0                     1               0
2                     0               5
3                     0               1
6                     0              17
10                    0              19

In [8]:
# Verificar valores faltantes en las columnas específicas
columnas_verificar = ['Fecha', 'Destino', 'All_aboard', 'Cantidad de Fallecidos', 'Operador', 'Ac_type', 'passenger_fatalities', 'crew_fatalities']
valores_faltantes = df[columnas_verificar].isnull().sum()
print(valores_faltantes)

Fecha                     0
Destino                   0
All_aboard                0
Cantidad de Fallecidos    0
Operador                  0
Ac_type                   0
passenger_fatalities      0
crew_fatalities           0
dtype: int64

In [9]:
# Convertir columnas a tipos numéricos
df['All_aboard'] = pd.to_numeric(df['All_aboard'], errors='coerce')
df['Cantidad de Fallecidos'] = pd.to_numeric(df['Cantidad de Fallecidos'], errors='coerce')
df['passenger_fatalities'] = pd.to_numeric(df['passenger_fatalities'], errors='coerce')
df['crew_fatalities'] = pd.to_numeric(df['crew_fatalities'], errors='coerce')

In [12]:
# Verificar registros duplicados
registros_duplicados = df.duplicated(subset=columnas_verificar, keep=False)
registros_duplicados = df[registros_duplicados]
print(registros_duplicados)

Empty DataFrame
Columns: [Fecha, Destino, All_aboard, Cantidad de Fallecidos, Operador, Ac_type, passenger_fatalities, crew_fatalities]
Index: []

In [13]:
# Obtener información sobre los tipos de datos de cada columna
tipos_de_datos = df.dtypes
print(tipos_de_datos)

Fecha                     object
Destino                   object
All_aboard                 int64
Cantidad de Fallecidos     int64
Operador                  object
Ac_type                   object
passenger_fatalities       int64
crew_fatalities            int64
dtype: object

In [14]:
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%d-%b-%y')

In [19]:
import pandas as pd
from datetime import datetime

# Supongamos que la columna 'Fecha' ya está en formato de fecha
# Si no lo está, conviértela como se indicó en la respuesta anterior

# Obtén la fecha actual
fecha_actual = datetime.now()

# Filtra las filas con fechas anteriores o iguales a la fecha actual
df = df[df['Fecha'] <= fecha_actual]

# Ahora df solo contiene las filas con fechas anteriores o iguales a la fecha actual

In [20]:
# Convertir la columna 'Fecha' a tipo de dato de fecha
df['Fecha'] = pd.to_datetime(df['Fecha'])

# Encontrar el valor máximo y mínimo en la columna 'Fecha'
fecha_maxima = df['Fecha'].max()
fecha_minima = df['Fecha'].min()

print(f"Fecha máxima: {fecha_maxima}")
print(f"Fecha mínima: {fecha_minima}")

Fecha máxima: 2023-09-14 00:00:00
Fecha mínima: 1969-01-02 00:00:00

In [25]:
import pandas as pd

# Asegúrate de que las columnas sean numéricas
df['All_aboard'] = pd.to_numeric(df['All_aboard'], errors='coerce')
df['Cantidad de Fallecidos'] = pd.to_numeric(df['Cantidad de Fallecidos'], errors='coerce')
df['crew_fatalities'] = pd.to_numeric(df['crew_fatalities'], errors='coerce')

# Convertir la columna 'Fecha' a tipo de dato de fecha si aún no lo está
df['Fecha'] = pd.to_datetime(df['Fecha'])

# Crear una nueva columna 'Decada' que represente la década de cada fecha
df['Decada'] = (df['Fecha'].dt.year // 10) * 10

# Obtener estadísticas descriptivas y revisar outliers por década
estadisticas_por_decada = df.groupby('Decada')[['All_aboard', 'Cantidad de Fallecidos', 'crew_fatalities']].describe()

# Definir una función para encontrar outliers
def find_outliers(series):
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    return (series < lower_bound) | (series > upper_bound)

# Encontrar outliers por década
outliers_all_aboard = df.groupby('Decada')['All_aboard'].apply(find_outliers)
outliers_fallecidos = df.groupby('Decada')['Cantidad de Fallecidos'].apply(find_outliers)
outliers_crew_fatalities = df.groupby('Decada')['crew_fatalities'].apply(find_outliers)

# Calcular porcentaje de outliers por década
porcentaje_outliers_all_aboard = outliers_all_aboard.groupby(level=0).mean() * 100
porcentaje_outliers_fallecidos = outliers_fallecidos.groupby(level=0).mean() * 100
porcentaje_outliers_crew_fatalities = outliers_crew_fatalities.groupby(level=0).mean() * 100

# Imprimir estadísticas por década
print(estadisticas_por_decada)

# Imprimir porcentaje de outliers por década
print(f"\nPorcentaje de Outliers en 'All_aboard' por Década:\n{porcentaje_outliers_all_aboard}")
print(f"\nPorcentaje de Outliers en 'Cantidad de Fallecidos' por Década:\n{porcentaje_outliers_fallecidos}")
print(f"\nPorcentaje de Outliers en 'crew_fatalities' por Década:\n{porcentaje_outliers_crew_fatalities}")

       All_aboard                                                        \
            count       mean        std  min    25%   50%    75%    max
Decada
1960         68.0  37.044118  31.627229  1.0  12.75  29.5  55.25  120.0
1970        597.0  44.122278  55.483507  1.0  10.00  25.0  57.00  644.0
1980        509.0  47.347741  66.171536  0.0   9.00  21.0  53.00  524.0
1990        604.0  39.908940  61.657240  1.0   7.00  16.0  44.00  517.0
2000        498.0  32.588353  51.518171  1.0   5.00  11.0  27.00  309.0
2010        239.0  35.748954  54.973521  0.0   6.00  12.0  42.00  307.0
2020         61.0  16.409836  41.022911  1.0   1.00   2.0   8.00  190.0

       Cantidad de Fallecidos             ...               crew_fatalities  \
                        count       mean  ...    75%    max           count
Decada                                    ...
1960                     68.0  28.338235  ...  38.50  120.0            68.0
1970                    597.0  32.592965  ...  40.00  583.0           597.0
1980                    509.0  31.383104  ...  36.00  520.0           509.0
1990                    604.0  25.289735  ...  27.00  349.0           604.0
2000                    498.0  21.975904  ...  18.75  275.0           498.0
2010                    239.0  26.518828  ...  22.00  298.0           239.0
2020                     61.0  10.245902  ...   5.00  176.0            61.0


            mean       std  min  25%  50%   75%   max
Decada
1960    3.911765  3.696450  0.0  2.0  3.0  5.00  21.0
1970    4.078727  3.588596  0.0  2.0  3.0  5.00  27.0
1980    3.713163  3.435606  0.0  2.0  3.0  5.00  23.0
1990    3.521523  3.347413  0.0  1.0  3.0  5.00  33.0
2000    3.271084  3.105264  0.0  1.0  2.0  4.75  19.0
2010    3.736402  3.292718  0.0  1.0  3.0  6.00  19.0
2020    2.557377  5.649556  0.0  1.0  1.0  2.00  43.0

[7 rows x 24 columns]

Porcentaje de Outliers en 'All_aboard' por Década:
Decada
1960     1.470588
1970     6.867672
1980    11.001965
1990    11.258278
2000    16.064257
2010    11.715481
2020    13.114754
Name: All_aboard, dtype: float64

Porcentaje de Outliers en 'Cantidad de Fallecidos' por Década:
Decada
1960     4.411765
1970     8.375209
1980     9.823183
1990    11.423841
2000    13.654618
2010    13.807531
2020    14.754098
Name: Cantidad de Fallecidos, dtype: float64

Porcentaje de Outliers en 'crew_fatalities' por Década:
Decada
1960     7.352941
1970     6.197655
1980     5.500982
1990     3.476821
2000     3.815261
2010     2.092050
2020    13.114754
Name: crew_fatalities, dtype: float64

In [26]:
# Obtener estadísticas descriptivas y revisar outliers
estadisticas = df[['All_aboard', 'Cantidad de Fallecidos', 'crew_fatalities']].describe()
q1 = df[['All_aboard', 'Cantidad de Fallecidos', 'crew_fatalities']].quantile(0.25)
q3 = df[['All_aboard', 'Cantidad de Fallecidos', 'crew_fatalities']].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

# Encontrar outliers
outliers_all_aboard = ((df['All_aboard'] < lower_bound['All_aboard']) | (df['All_aboard'] > upper_bound['All_aboard'])).sum()
outliers_fallecidos = ((df['Cantidad de Fallecidos'] < lower_bound['Cantidad de Fallecidos']) | (df['Cantidad de Fallecidos'] > upper_bound['Cantidad de Fallecidos'])).sum()
outliers_crew_fatalities = ((df['crew_fatalities'] < lower_bound['crew_fatalities']) | (df['crew_fatalities'] > upper_bound['crew_fatalities'])).sum()

# Calcular porcentaje de outliers
total_filas = len(df)
porcentaje_outliers_all_aboard = (outliers_all_aboard / total_filas) * 100
porcentaje_outliers_fallecidos = (outliers_fallecidos / total_filas) * 100
porcentaje_outliers_crew_fatalities = (outliers_crew_fatalities / total_filas) * 100

print(estadisticas)
print(f"Porcentaje de Outliers en 'All_aboard': {porcentaje_outliers_all_aboard:.2f}%")
print(f"Porcentaje de Outliers en 'Cantidad de Fallecidos': {porcentaje_outliers_fallecidos:.2f}%")
print(f"Porcentaje de Outliers en 'crew_fatalities': {porcentaje_outliers_crew_fatalities:.2f}%")

        All_aboard  Cantidad de Fallecidos  crew_fatalities
count  2576.000000             2576.000000      2576.000000
mean     39.921972               27.383929         3.647516
std      57.997842               44.579787         3.464323
min       0.000000                0.000000         0.000000
25%       7.000000                4.000000         1.000000
50%      17.000000               11.000000         3.000000
75%      47.000000               30.000000         5.000000
max     644.000000              583.000000        43.000000
Porcentaje de Outliers en 'All_aboard': 10.64%
Porcentaje de Outliers en 'Cantidad de Fallecidos': 11.10%
Porcentaje de Outliers en 'crew_fatalities': 3.03%

In [28]:
# Identificar y eliminar filas con outliers
df_sin_outliers = df[
    ((df['All_aboard'] >= lower_bound['All_aboard']) & (df['All_aboard'] <= upper_bound['All_aboard'])) &
    ((df['Cantidad de Fallecidos'] >= lower_bound['Cantidad de Fallecidos']) & (df['Cantidad de Fallecidos'] <= upper_bound['Cantidad de Fallecidos'])) &
    ((df['crew_fatalities'] >= lower_bound['crew_fatalities']) & (df['crew_fatalities'] <= upper_bound['crew_fatalities']))
]

# Obtener estadísticas después de eliminar outliers
resultados_despues = df_sin_outliers[['All_aboard', 'Cantidad de Fallecidos', 'crew_fatalities']].describe()

print("Resultados después de eliminar outliers:")
print(resultados_despues)

Resultados después de eliminar outliers:
        All_aboard  Cantidad de Fallecidos  crew_fatalities
count  2159.000000             2159.000000      2159.000000
mean     20.269106               14.628069         2.960630
std      20.169172               15.252772         2.227727
min       0.000000                0.000000         0.000000
25%       6.000000                3.000000         1.000000
50%      13.000000                9.000000         2.000000
75%      28.000000               20.000000         4.000000
max     107.000000               69.000000        11.000000

In [11]:
# Cargar df a .csv"
df.to_csv('AccidentesAvionesa.csv', index=False)